'body':
  'ctrl-q':               'unset!'
  'ctrl-a':               'unset!'
  'ctrl-a ctrl-a':        "tree-view:toggle-focus"
  "ctrl-a ctrl-k":        "pane:split-up-and-move-active-item",
  "ctrl-a ctrl-j":        "pane:split-down-and-move-active-item",
  "ctrl-a ctrl-h":        "pane:split-left-and-move-active-item",
  "ctrl-a ctrl-l":        "pane:split-right-and-move-active-item",
  "ctrl-a ctrl-shift-k":  "window:move-active-item-to-pane-above",
  "ctrl-a ctrl-shift-j":  "window:move-active-item-to-pane-below",
  "ctrl-a ctrl-shift-h":  "window:move-active-item-to-pane-on-left",
  "ctrl-a ctrl-shift-l":  "window:move-active-item-to-pane-on-right",
  "ctrl-a k":             "window:focus-pane-above",
  "ctrl-a j":             "window:focus-pane-below",
  "ctrl-a h":             "window:focus-pane-on-left",
  "ctrl-a l":             "window:focus-pane-on-right",
  "ctrl-a x":             "tabs:close-tab",
  "ctrl-a p":             "pane:show-previous-item",
  "ctrl-a n":             "pane:show-next-item"

'atom-workspace atom-text-editor':
  # Unset editor keybindings (conflict with multi-cursor-plus)
  'alt-left':        'unset!'
  'alt-right':       'unset!'
  'alt-up':          'unset!'
  'alt-down':        'unset!'

'atom-workspace':
  # Key bindings for multi-cursor-plus
  'alt-x':                'multi-cursor-plus:mark'
  'alt-up':               'multi-cursor-plus:move-up'
  'alt-down':             'multi-cursor-plus:move-down'
  'alt-left':             'multi-cursor-plus:move-left'
  'alt-right':            'multi-cursor-plus:move-right'


'.platform-linux atom-text-editor':
  # Key bindings for tags navigation
  'ctrl-cmd-right':    'atom-ctags:go-to-declaration'
  'ctrl-cmd-left':     'atom-ctags:return-from-declaration'
  'ctrl-cmd-j':        'atom-ctags:go-to-declaration'
  'ctrl-cmd-k':        'atom-ctags:return-from-declaration'
